.about-content{
    padding: 10px 0 50px;
    @media(min-width:768px){
        padding: 70px 0 123px;
    }
    
    .about-item{
        h2{
            font-size: 3.6rem;
            line-height: 4.6rem;
            margin-bottom: 2rem;
        }
    }
}