footer{
    .copyright{
        font-size: 1.4rem;
        font-weight: 500;
        color:#586C88;
        letter-spacing: -0.17px;
        a{
            color: #586C88;
            &:hover{
                color: $primary;
            }
            
        }
    }
    
    .social{
        a{
            color:#2c2d3c;
            font-size: 2.5rem;
            margin-inline:5px;
            transition: 0.3s linear;
            &:hover{
                color:$primary;
            }
        }
    }
}

