img{
    max-width: 100%;
}
p{
    line-height: 2.5rem;
}

body{
    font-family: $body-font;
    font-weight: 300;
}

.section-title{
    font-size: 3.6rem;
    line-height: 6.4rem;
    margin-bottom: 3rem;
}