$toggler-bg: $primary;

header{
    
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
    z-index: 5;
    
    .navbar-brand{
        max-width: 100px;
    }
    
    .navbar-toggler{
        border: none;
        span{
            display: block;
            width: 30px;
            height: 3px;
            background-color: $toggler-bg;
            margin-bottom: 5px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }// navbar-toggler
    
    
    .navbar-nav{
        background-color: #fff;
        
        li{
            @media(min-width:768px){
                    margin-left: 30px;
            }
            @media(min-width:992px){
                    margin-left: 51px;
            }
        a{
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.7rem;
            font-weight: 500;
            padding: 10px;
        }
        }// li
    }// navbar-nav
}// header