
$category-color: $primary;
.hero{
    padding: 133px 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-bottom: 77px;
    .hero-content{
        width: 100%;
        max-width: 558px;
        background-color: rgba($white, 0.7);
        padding: 20px;
        
        .hero-title{
            font-size: 5.1rem;
            line-height: 6.4rem;
        }
        
        
        .news-info{
            .news-categories{
                a{
                    text-transform: uppercase;
                    color:$category-color;
                    
                }
            }
            span{
                color:$category-color;
                margin: 0 5px
            }
            .news-date{
                color:$category-color;
            }
        }
        
    }
    
}
