$linkedin-color: #596d87;
.team{
    padding: 67px 0 61px;
    
    a.fab{
        font-size: 3rem;
        color: $linkedin-color;
    }
}

.team-members{
    margin-bottom: 50px;
    @media(min-width:768px){
        margin-bottom: 80px;
    }
    @media(min-width:992px){
        margin-bottom: 110px;
    }
    @media(min-width:1200px){
        margin-bottom: 133px;
    }
    
    
    .team-member-item{
        .linkedin{
            position: absolute;
            bottom: 16px;
            right: 15px;
            font-size: 3rem;
            text-shadow: 0 0 2px #000;
        }
        .team-member-name{
            a{
                display: block;
                font-size: 2.2rem;
                line-height: 2.7rem;
            }
        }
        
        .team-member-position{
            font-size: 1.8rem;
            line-height: 2.7rem;
            font-weight: 500;
        }
    }
}


.single-team{
    padding-top: 50px;
   margin-bottom: 50px;
    @media(min-width:768px){
        margin-bottom: 80px;
    }
    @media(min-width:992px){
        margin-bottom: 110px;
    }
    @media(min-width:1200px){
        margin-bottom: 133px;
    }
    
    .team-member-position{
        font-size: 1.8rem;
            line-height: 2.7rem;
            font-weight: 500;
            margin-bottom: 3.6rem;
    }
}
