/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Mar 30, 2023, 2:43:53 PM
    Author     : frontend
*/


$rubik:'Rubik', sans-serif;
$poppins: 'Poppins', sans-serif;



$body-font: $rubik;