.single-team-member{
    padding: 50px 0;
    @media(min-width:992px){
        padding: 100px 0 178px;
    }
    
    .team-member-title{
        font-size: 3.5rem;
            line-height: 4.5rem;
            @media(min-width:992px){
                font-size: 5rem;
                line-height: 6.4rem;
            }
    }
    
    .team-member-position{
        font-size: 1.8rem;
        line-height: 2.7rem;
        font-weight: 500;
    }
    
    .team-member-content{
        p, h2,h3,h4,h5,h6,ul, ol{
            margin-bottom: 3rem;
        }
    }
}